body {
    font: 18px sans-serif;
    font-weight: lighter;
    color: black;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #666666;
    color: white;
    padding: 5px 5px 0 5px;
}

#pageTitle {
    font-size: 40px;
    width: 45%;
    height: 80px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    border-spacing: 0;
    border: 1px solid #999999;
}

tbody {
    border-top: 2px solid black;
}
