table {
    width: 100%;
    font-size: 12px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

col.user {
    width: 4%;
}

col.items {
    width: 50%;
}

col.sites {
    width: 4%;
}

col.groups {
    width: 4%;
}

col.created, col.expires {
    width: 8%;
}

col.comment {
    width: 17%;
}
