#lastUpdate {
    width: 30%;
    padding-right: 1%;
    margin-top: 50px;
    height: 50px;
    font: 24px sans-serif;
    text-align: right;
    float: right;
}

#viewSelection {
    width: 35%;
    height: 220px;
    margin-top: 10px;
    float: left;
}

#selections {
    width: 100%;
    height: 300px;
}

#dataSelection {
    width: 35%;
    height: 100%;
    float: left;
}

.menuTitle {
    height: 30px;
    margin-left: 5px;
}

#dataTypeCont {
    width: 100%;
    height: 270px;
}

#constraints {
    width: 60%;
    height: 100%;
    float: left;
    border-left: 1px dashed;
}

#constraintsLeft {
    width: 40%;
    height: 270px;
    float: left;
}

#constraintsRight {
    width: 60%;
    height: 270px;
    float: left;
}

.constraintType {
    height: 35px;
    margin-left: 5px;
}

.constraintInput {
    width: 100%;
    height: 35px;
}

.constraint {
    width: 70%;
}

#commitView {
    height: 20px;
}

#graphSection {
    width: 65%;
    height: 1000px;
    float: left;
}

#graphCont {
    width: 70%;
    height: 100%;
    float: left;
}

#axisBox {
    width: 100%;
}

#graphBox {
    width: 100%;
    overflow: scroll;
}

#graph {
    width: 100%;
}

#legendCont {
    width: 29%;
    height: 100%;
    float: left;
    overflow: scroll;
}

#legend {
    width: 100%;
}

#graph .axis path,
#graph .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 0.1;
    shape-rendering: crispEdges;
}

#graph .velem .mean,
#legend .mean {
    fill: steelblue;
}

#graph .velem .rms,
#legend .rms {
    fill: #1d3549;
}
