body {
    font: 18px sans-serif;
    font-weight: lighter;
    color: black;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #666666;
    color: white;
    padding: 5px 5px 0 5px;
}

#pageTitle {
    font-size: 40px;
    width: 45%;
    height: 80px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#divisions {
    clear: both;
    width: 100%;
    height: 38px;
    overflow: visible;
}


#SummaryBox {
    width: 100%;
    height: 980px;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #999999;
}

#Wrapper1 {
    display:inline-block;
    width: 48%;
    height: 840px;
}
#Wrapper2 {
    display:inline-block;
    width: 95%;
    height: 200px;
}

#Summary {
    display:block;
    background-color:white;
    width:90%; /* Size of the element (100% => full cell) */
    margin: 0 auto; /* center the element in the table cell*/
    height: 840px;
}

#SiteOverview {
    display:block;
    background-color:white;
    width:90%; /* Size of the element (100% => full cell) */
    margin: 0 auto; /* center the element in the table cell*/
    height: 840px;
}

#SiteOverview2 {
    display:block;
    background-color:white;
    width:90%; /* Size of the element (100% => full cell) */
    margin: 0 auto; /* center the element in the table cell*/
    height: 840px;
}

#GaugeBox {
    width: 100%;
    height: 220px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #999999;
}

#services {
    clear: both;
    width: 100%;
    height: 38px;
    overflow: visible;
}

#services .serviceTab{
    background-color: #cccccc;
    width: 148px;
    height: 20px;
    float: left;
    text-align: center;
    text-decoration: underline;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: #999999;
    margin-bottom: 2px;
    cursor: pointer;
}

#services div.selected {
    background-color: white;
    text-decoration: none;
    padding-bottom: 10px;
    margin-bottom: 0;
    cursor: auto;
}

#services div.last {
    border-right: 2px solid #999999;
}

.loader1 {
    position: absolute;
    left: 70%;
    top: 45%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader2 {
    position: absolute;
    left: 20%;
    top: 45%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}

#toggleBoxSummary {
    width: 100%;
    height: 50px;
    border-width: 2px 2px 0px  2px;
    border-style: solid;
    border-color: #999999;

    
}

#timeBox { 
    width: 45%;
    height: 50 px;
    border-width: 0px 0px 0px  0px;
    border-style: solid;
    border-color: #999999;
    
    float: right;
}
#toggleDynamo {
    width: 95px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #999999;
    background: rgba(0, 103, 113, 0.6);
    cursor: pointer;

}

#togglePhedex {
    width: 95px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #999999;
    background: rgba(0, 180, 0, 0.6);
    cursor: pointer;
    
}

#toggleSum {
    width: 95px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #999999;
    background: rgba(100, 0, 50, .6);
    cursor: pointer;
}
